/*НАЗНАЧЕНИЕ ПАРШАЛОВ*/
// reset - зброс стилей
// palette - палитра проэкта
// variables - переменные
// common - формулы flex и контейенр
// mixins - миксины
// placeholders - плейсхолдеры
// button - стили кнопок(в макете они все одинвковые разный только текст)
// social_icons - стили иконок соц. сетей


@import "./base/reset";
@import "./base/palette";
@import "./abstracts/variables";
@import "./abstracts/common";
@import "./abstracts/mixins";
@import "./abstracts/placeholders";
@import "./components/button";
@import "./components/social_icons";
